/* Found a pacific northwest color theme from Picular! */
/* Hope you enjoy it! */

html {
    height: 100%;
}
/* this is strictly the background gradient*/
#grad {
    height: 100%;
    margin: 0;
    background-image: linear-gradient(to bottom right, #CFE3E9, #7D8290);
    background-repeat: no-repeat;
    background-attachment: fixed;

} 

/* for the arrow function looking title, ends at the bottom of the page, and it's all animated! */
h1 {
    color: #D57936;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 32pt;
    top: .25rem; 
}

nav, .sidenav{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16pt;
}

body {
    width: 750px;
    
}

body, h2, h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
}



section {

}

p, article {
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
}

.intro {
    color: #515E1B;
    left: 55px;
    top: 6rem;
    align-content: center;
    margin: 1em;
    font-weight: 900;
    font-size: 22pt;
}

.topnav {
    background-color: hsla(184, 27%, 24%, 50%);
    /* overflow: hidden; */
    position: relative;
    height: 60px;
    width: 100vw;
    align-content: flex-end;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;

}

.topnav a:hover {
    color: #349ACB;
}

.topnav a {
    float: left;
    color: #22BCF8;
    text-align: center;
    padding: 30px 20px;
    text-decoration-line: none;
}

.sidenav {
    top: 40vh;
    left: 80vw;
    height: 30%;
    width: 12%;
    z-index: 1;
    /* overflow-x: hidden; */
    padding: 60px 10px 50px 30px;    
    position: fixed;
    background-color: hsla(184, 27%, 24%, 50%);
}

.sidenav a:hover{
    color: #349ACB;
}

.sidenav a{
    color: #22BCF8;
}

footer {
    text-align: center;
    left: 0;
    color: #9AB9CC;
    background-color: hsla(184, 27%, 24%, 50%);
    height: 35px;
    width: 100%;
    position: absolute;
}